.navbar {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  background-color: #ff7b3c;
  position: fixed;
  width: 100%;
}

.navbar-header {
  cursor: pointer;
  margin-right: auto;
  margin-right: 50px;
}
